@use 'base/typography';
@use 'base/colors';

/*
Edits for login page
*/
.mainBody {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: typography.$airbnb-md;
}

.header {
    margin-top: 40px;
    width: 100%;
    color: colors.$white;
}

.left{
    float: left;
    margin-left: 40px;
    font-size: 18px;
}

.donan{
    color: #1771C3;
    margin-left: 80px;
    font-size: 20px;
}

.right{
    float: right;
    margin-right: 0px;
}

.description{
    justify-content: center;
    margin-top: 15%;
}

.title{
    font-size: 60px;
    margin-left: 50%;
}

.slogan{
    font-size: 30px;
    margin-left: 50%;
}